.add-form {
  display: none;
  padding: 7px;
  background-color: #fff;
  border-radius: 5px;
  opacity: 0;
}

.visible {
  display: flex;
  opacity: 1;
  transition: all 1s;
}

.form-input {
  border: none;
  border-bottom: 2px solid #2f16ad;
  box-sizing: border-box;
}

.form-input:focus {
  outline: none;
}

.form-btn {
  border: none;
  outline: none;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  font-size: 18px;
  color: #fff;
}

.form-btn:active, .form-btn:focus {
  outline: none;
}